body{
 	position: relative;
 	height:700px;
	background-size:200%;
	background-image: url("./Skydive_Background.jpg");
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	margin: 0;
	padding: 0%;
	/*z-index: auto;*/
}


/*header {
    background: linear-gradient(to right, rgba(135,206,235,0), rgba(0,91,255,0.5));

}*/

.other{
	float:right;
	margin-top:8px;
}











